from dataclasses import dataclass, fields
from typing import Any, Dict

{%- for class_name, suffixes in components %}
@dataclass
class {{ class_name }}:
{%- for suffix, (typ, default) in suffixes.items() %}
    {{ suffix }}: {{ typ }} = {{ default }}
{%- endfor %}

    def to_flat(self, prefix: str) -> Dict[str, Any]:
        result = {}
        for f in fields(self):
            value = getattr(self, f.name)
            if value is not None:
                key = f'{prefix}_{f.name}' if prefix else f.name
                result[key] = value
        return result
{% endfor %}
